---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import profilePic from "@img/profile.jpg";
import Links from "@components/Links.astro";
import FeaturedItems from "@components/FeaturedItems.astro";
import type { Item } from "@components/FeaturedItems.astro";
import { getFeaturedProjects, getFeaturedPosts } from "@utils/content";
import { faWrench, faBook } from "@fortawesome/free-solid-svg-icons";
import FontAwesomeIcon from "@components/FontAwesomeIcon.astro";
import { Content as MainBio } from "./_bio.md";

const featuredProjects = await getFeaturedProjects();
const featuredProjectsItems: Item[] = featuredProjects.map((project) => ({
  slug: `/project/${project.slug}`,
  title: project.data.title,
  summary: project.data.summary,
}));

const featuredPosts = await getFeaturedPosts();
const featuredPostsItems: Item[] = featuredPosts.map((post) => {
  const month = post.data.date.getMonth() + 1;
  const day = post.data.date.getDate();
  const year = post.data.date.getFullYear();

  const formatedMonth = month < 10 ? `0${month}` : month;
  const formatedDay = day < 10 ? `0${day}` : day;

  return {
    slug: `/post/${post.slug}`,
    title: post.data.title,
    summary: `${year}-${formatedMonth}-${formatedDay}`,
  };
});
---

<Layout>
  <div class="flex justify-center pb-5">
    <div class="flex items-center">
      <Image
        src={profilePic}
        alt="Profile Picture"
        class="rounded-full"
        width="128"
        height="128"
      />
      <div>
        <h1 class="text-xl md:text-4xl pl-4">Hi, I'm mrkirby153</h1>
        <div class="flex justify-center mt-1">
          <Links />
        </div>
      </div>
    </div>
  </div>

  <div>
    <MainBio />
  </div>

  <h2 class="text-2xl mt-4 mb-2">
    <span class="header-icon"><FontAwesomeIcon icon={faWrench} /></span><a
      href="/projects">Projects</a
    >
  </h2>
  <FeaturedItems items={featuredProjectsItems} />

  <h2 class="text-2xl mt-4 mb-2">
    <span class="header-icon"><FontAwesomeIcon icon={faBook} /></span>
    <a href="/post">Writing</a>
  </h2>
  <FeaturedItems items={featuredPostsItems} />
</Layout>

<style is:global>
  body {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .header-icon {
    @apply w-5 inline-block mr-2 align-[-0.125em];
  }
</style>
