---
import FontAwesomeIcon from "./FontAwesomeIcon.astro";
import type { IconDefinition } from "@fortawesome/fontawesome-svg-core";
import {
  faTwitter,
  faGithub,
  faMastodon,
  faXTwitter,
} from "@fortawesome/free-brands-svg-icons";
import { faCamera, faKey } from "@fortawesome/free-solid-svg-icons";

type AlternateIcon = {
  icon: IconDefinition;
  altIcon: IconDefinition;
};

type LinkIcon = IconDefinition | AlternateIcon;

interface Link {
  icon: LinkIcon;
  url: string;
  name: string;
  label: string;
  rel?: boolean;
  hover?: string;
  blank?: boolean;
}

const links = [
  {
    name: "twitter",
    icon: {
      icon: faTwitter,
      altIcon: faXTwitter,
    },
    label: "Twitter",
    url: "https://twitter.com/mrkirby153",
    hover: "[#1D9BF0]", // hover:text-[#1D9BF0]
  },
  {
    name: "github",
    icon: faGithub,
    label: "GitHub",

    url: "https://github.com/mrkirby153",
  },
  {
    name: "mastodon",
    icon: faMastodon,
    url: "https://mastodon.social/@mrkirby153",
    rel: true,
    label: "Mastodon",
    hover: "[#6364FF]", // hover:text-[#6364FF]
  },
  {
    name: "gpg",
    icon: faKey,
    url: "/pubkey.gpg",
    label: "GPG Public Key",
    hover: "[#976F47]", // hover:text-[#976F47]
  },
  {
    name: "photos",
    icon: faCamera,
    url: "/photos",
    label: "Photos",
    hover: "[#FF6F61]", // hover:text-[#FF6F61]
    blank: false,
  },
] satisfies Link[];

function isAlternateIcon(
  icon: IconDefinition | AlternateIcon,
): icon is AlternateIcon {
  return (icon as AlternateIcon).altIcon !== undefined;
}

function getIcon(icon: LinkIcon): IconDefinition {
  if (isAlternateIcon(icon)) {
    return icon.icon;
  }
  return icon;
}

function getAltIcon(link: AlternateIcon): IconDefinition {
  return link.altIcon;
}
---

<div class="flex">
  {
    links.map((link) => {
      const hoverColor =
        link.hover !== undefined
          ? `text-${link.hover}`
          : "text-black dark:hover:text-white"; // hover:text-white

      return (
        <div class="link-icon pl-3 first:pl-0">
          <a
            class={`dark:text-white text-black hover:${hoverColor} hover:cursor-pointer inline-block w-[2rem] no-style`}
            href={link.url}
            target={(link.blank ?? true) ? "_blank" : "_self"}
            rel={link.rel ? "me" : null}
            aria-label={link.label}
          >
            <span
              data-icon-swap={isAlternateIcon(link.icon) ? "primary" : null}
            >
              <FontAwesomeIcon icon={getIcon(link.icon)} />
            </span>
            {isAlternateIcon(link.icon) && (
              <span
                class="hidden"
                data-icon-swap={getAltIcon(link.icon) ? "alt" : null}
              >
                <FontAwesomeIcon icon={getAltIcon(link.icon)} />
              </span>
            )}
          </a>
        </div>
      );
    })
  }
</div>

<script>
  import invariant from "tiny-invariant";
  const icons = document.querySelectorAll("[data-icon-swap]");

  const primaryIcons: HTMLElement[] = [];
  const altIcons: HTMLElement[] = [];

  icons.forEach((icon) => {
    invariant(
      icon instanceof HTMLElement,
      "Expected icon to be an HTMLElement",
    );
    if (icon.dataset.iconSwap === "primary") {
      primaryIcons.push(icon);
    } else if (icon.dataset.iconSwap === "alt") {
      altIcons.push(icon);
    }
  });

  const swapIcons = (primary: boolean) => {
    const primaryList = primary ? primaryIcons : altIcons;
    const altList = primary ? altIcons : primaryIcons;

    primaryList.forEach((icon) => {
      icon.classList.add("hidden");
    });

    altList.forEach((icon) => {
      icon.classList.remove("hidden");
    });
  };

  window.addEventListener("keydown", (event) => {
    if (event.key === "Shift") {
      swapIcons(true);
    }
  });
  window.addEventListener("keyup", (event) => {
    if (event.key === "Shift") {
      swapIcons(false);
    }
  });
</script>
